:root {
	--primary: #3fb8be !important;
	--primary-hover: #3aacb2 !important;
}

.container {
	margin-top: 0px;
	padding-top: 0px;
}

#search {
	height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) + var(--border-width) * 2);
	width: 50vw;
	max-width: 50vw;
	background-position: center left 1rem;
}

@media only screen and (max-width: 500px) {
	nav > .logo {
		display: none;
	}

	nav > .profile {
		margin-top: calc(0.25 * var(--nav-element-spacing-vertical));
		position: absolute;
		right: 24px;
	}

	.search-container {
		width: calc(100vw - 17px);
	}

	#search {
		background-image: url(../img/bloom.svg);
		background-size: 24px auto;
		background-position: center left 0.9rem;
		border-left-color: var(--primary) !important;
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
	}
}

.flex-buffer {
	flex: 1 1 auto;
}

.filter-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.filter-container > .filter-day-container {
	margin-top: 1rem;
	display: flex;
	flex: 1 0 auto;
}

.filter-day-container > .filter-day {
	flex: none;
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	padding: 0px;
	margin: 0 8px;
}

.filter-pay-container {
	flex: 2 0;
	margin: 0 0;
	padding: 0 1rem;
	margin-top: 1rem;
}

.filter-pay-container > .filter-pay {
	flex: 1 0;
	min-width: 6rem;
	width: 100% !important;
	height: 2rem !important;
	border-radius: 2rem;
	margin: 0 0 !important;
}

.filter-container > .filter-time-container {
	display: flex;
	flex: 3 0;
	margin-top: 1rem;
}

.filter-time-container > .filter-time {
	flex: auto;
	min-width: 5rem;
	height: 2rem;
	border-radius: 2rem;
	padding: 0px;
	margin: 0 0px;
}

hr {
	margin-top: 2rem;
}
