:root {
	--primary: #3fb8be !important;
	--primary-hover: #3aacb2 !important;
}

#search {
	height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) + var(--border-width) * 2);
	width: 50vw;
	max-width: 50vw;
	background-position: center left 1rem;
}

@media (max-width: 500px) {
	nav > .logo {
		display: none;
	}

	nav > .profile {
		margin-top: calc(0.25 * var(--nav-element-spacing-vertical));
		position: absolute;
		right: 24px;
	}

	.search-container {
		width: calc(100vw - 17px);
	}

	#search {
		background-image: url(../img/bloom.svg);
		background-size: 24px auto;
		background-position: center left 0.9rem;
		border-left-color: var(--primary) !important;
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
	}
}

.filter-day-container {
	justify-content: space-between;
}

.filter-day {
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	text-align: center;
	display: inline;
	padding: 0px;
}

.filter-day:active {
	background-color: transparent;
}
